.paperOne {
    height: 100%;
    width: 100%;
    background-image: repeating-linear-gradient(rgba(0, 0, 0, 0.233), #f1f1f1, rgba(0, 0, 0, 0.233));
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paperTwo {
    height: 100%;
    width: 100%;
    background-image: repeating-linear-gradient(rgba(0, 0, 0, 0.233), #f1f1f1, rgba(0, 0, 0, 0.233));
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8rem;
}

.internParent {
    position: fixed;
    height: 90vh;
    width: 90hw;
    background-color: red;
    z-index: 999;
}

.workExperienceParent {
    height: auto;
    width: 100%;
    position: relative;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
  }

.modalContent-intern {
    z-index: 100000;
    background-color: #fff;
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 1rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    width: 1400px;
    position: relative;
    max-height: 85vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background-image: repeating-linear-gradient(rgba(0, 0, 0, 0.233), #f1f1f1, rgba(0, 0, 0, 0.233));
}

.modalContent-intern::-webkit-scrollbar {
    width: 10px;
}

.modalContent-intern::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.modalContent-intern::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.modalContent-intern::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.modalContent-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.modalContent-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.modalContent-bullets {
    width: 100%;
    margin-top: 2%;
    padding-left: 2%;
}

.modalContent-bullets-li {
    font-size: 180%;
}

.closeButton {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 3rem;
    cursor: pointer;
}

.paperOneDesc {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paperOneImg {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

h1 {

    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 200%;
    /* font-size: 16px; */
    line-height: 1.7;
    color: #777;
}

h2 {

    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 170%;
    /* font-size: 16px; */
    line-height: 1.7;
    color: #777;
}

.modalContent-header-h2 {
    font-size: 280%;
}

.modalContent-header-p {
    font-size: 200%;
    font-weight: 600;
}

.modalContent-section {
    width: 100%;
    margin-bottom: 2rem;
}

.modalContent-section:last-child {
    margin-bottom: 3rem;
}

.modalContent-subheader {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 1.5rem;
}

.modalContent-subheader-h3 {
    font-size: 220%;
    font-weight: 600;
    color: #555;
    margin-bottom: 0.5rem;
}

.modalContent-subheader-p {
    font-size: 180%;
    font-weight: 500;
    color: #777;
}



@media only screen and (max-width: 768px) {


    .paperOneImg {
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

    h1 {

        font-family: "Lato", sans-serif;
        font-weight: 600;
        font-size: 100%;
        padding-left: 5%;
        padding-right: 5%;
        text-align: center;
        /* font-size: 16px; */
        line-height: 1.7;
        color: #777;

    }



    h2 {

        font-family: "Lato", sans-serif;
        font-weight: 600;
        font-size: 80%;
        /* font-size: 16px; */
        line-height: 1.7;
        color: #777;
    }



    .paperOneDesc {
        height: 40%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .modalContent-intern {
        background-color: #fff;
        padding: 15px;
        padding-bottom: 30px;
        border-radius: 1rem;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
        width: 90%;
        position: relative;
        max-height: 85vh;
        overflow-y: scroll;
        overflow-x: hidden;
        background-image: repeating-linear-gradient(rgba(0, 0, 0, 0.233), #f1f1f1, rgba(0, 0, 0, 0.233));
        margin-left: 1rem;
        margin-right: 1rem;
    }



    .modalContent-header-h2 {
        font-size: 140%;
        margin-top: 0.5rem;
    }


    .modalContent-header-p {
        font-size: 120%;
        font-weight: 600;
    }



    .modalContent-bullets-li {
        font-size: 110%;
        text-align: justify;
    }

    .modalContent-subheader-h3 {
        font-size: 130%;
        font-weight: 600;
        color: #555;
        margin-bottom: 0.3rem;
        text-align: center;
    }

    .modalContent-subheader-p {
        font-size: 110%;
        font-weight: 500;
        color: #777;
    }

    .modalContent-section {
        width: 100%;
        margin-bottom: 1rem;
    }
}